<div class="screen screen-centered">

  <div class="brand-container">
    <img src="assets/images/logo-vault.svg" alt="Vault Logo">
    <p>The most secure digital storage system on the planet.</p>
  </div>

  <section class="start-options">
    <div>
    <a routerLink="login">LOGIN</a>
    <hr>
    <a routerLink="register">
      REGISTER
      <p>To set up an account and create your first private vault</p>
    </a>

    </div>

  </section>
  <a href="https://b4e.com/" target="_blank" class="find-more">FIND OUT MORE</a>
</div>

<!--<app-load-bar></app-load-bar>-->
