
// Not using any Material components yet
//$mdc-layout-grid-default-gutter: ( desktop: 16px, tablet: 16px, phone: 8px);
//$mdc-layout-grid-default-margin: ( desktop: 16px, tablet: 16px, phone: 8px);
//@import "@material/layout-grid/mdc-layout-grid";

// CDK base styles
//@import '~@angular/cdk/overlay-prebuilt.css';

// Colour palette
$clr-green:           #CCF437;
$clr-red:             #F44B49;
$clr-lavender:        #983E63;
$clr-teal:            #298C96;
$clr-blue:            #4C9D97;
$clr-turquoise:       #3AC6D2;
$clr-buff:            #F5DF86;
$clr-light-green:     #C9E09A;
$clr-green:           #D5F65C;
$clr-blue-green:      #1a3447;
$clr-dark-blue-green: #0b2231;
$clr-dark-blue:       #091924;



// Defaults
$font-family-std:     "Rubik", "Helvetica Neue", sans-serif;
$font-weight-std:     300;
$font-weight-bold:    500;
$font-weight-display: 700;
$screen-gutter:       32px;
$loader-disc-size:    40px;

// Defaults
@import "normalize";
@import "reset.local";

html, body {
  height: 100vh;
  // Set to the value so that rem relates to px size
  // i.e. 1.6rem = 16px
  font-size: 10px;
}
body {
  margin: 0;
  font-family: $font-family-std;
  font-weight: $font-weight-std;
  font-size: 1.6rem;
  line-height: 1.4;
  background-image: url("../assets/images/vault-bgd.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

// Utilities
.hide { opacity: 0; }
.show { opacity: 1; }
.remove { display: none; }

// Animations
@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0.1; }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 0.75);
  }
  50% {
    opacity: 1;
  }
}

// Branding
.brand-container {
    width: 62vw;
    max-width: 200px;
    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
    p {
      text-align: center;
      line-height: 1.2;
      font-size: 1.4rem;
      font-weight: 300;
      color: $clr-green;
      margin-top: 0;
    }
}

// Default screen
.screen {
  display: flex;
  flex-direction: column;
  padding:15vh 32px 10vh;
  min-height: 100vh;
  transition: opacity 1s ease-in-out;
  &.screen-centered {
    justify-content: space-between;
    align-items: center;
  }
}
.screen-title-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  h1 {
    width: 100%;
    padding: 0 0 4px;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1;
    color: $clr-green;
    border-bottom: 1px solid $clr-red;
  }
  span {
    display: block;
    margin: 0 1rem 0 0;
  }
}
.screen-content { width: 100%; }

// Screen content
.start-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: white;
  text-align: center;
  a {
    display: inline-block;
    width: calc(100% - 64px);
    font-size: 4rem;
    font-weight: 300;
    transition: all .3s ease-out;
    &:hover {
      color: $clr-red;
    }
    p {
      font-size: 1.2rem;
      text-align: center;
      margin-top: -4px;

    }
  }

  hr {
    border: 0;
    margin: 1rem 0;
    height: 1px;
    background: #333 linear-gradient(to right, $clr-blue-green, $clr-red, $clr-blue-green);
    width: 100%;
    text-align: center;
    &:after {
      content: "OR";
      display: inline-block;
      position: relative;
      top: -0.7em;
      padding: 0 .2em;
      line-height: 1;
      background: $clr-blue-green;
      font-size: 1em;
    }
  }
}
a.find-more {
  margin-top: 7.5vh;
  font-size: 2.2rem;
  font-weight: 400;
  color: $clr-red;
}

// Todo: create directive
.frm-login {
  margin-top: 3rem;
  .frm-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
    label {
      font-size: 1.1rem;
      color: $clr-green;
      padding-left: 8px;
    }
    input {
      margin-top: 4px;
      border: 1px solid $clr-green;
      padding: 14px 20px;
      border-radius: 8px;
      background-color: rgba($clr-dark-blue-green, .6);
      color: white;
      font-family: "Rubik", sans-serif;
      &::placeholder {
        color: #eee;
        font-weight: 300;
      }
    }
  }
  &.error {
    input {
      border-color: $clr-red;
      color: $clr-red;
    }
  }
  .icon-error {
    display: block;
    position: absolute;
    z-index: 100;
    top: 50%; right: 8px;
    margin-top: -8px;
  }
}
button {
  margin-top: 3.6rem;
  border-radius: 8px;
  background-color: $clr-red;
  color: $clr-dark-blue-green;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: .3rem;
  text-align: center;
  width: 100%;
  padding: 1.6rem 2rem;
  &:hover {
    color: white;
  }
}

app-load {
  // This sits above all screen content
  // so ignore any click/taps
  pointer-events:none;
  transition: opacity .3s ease-out;
  opacity: 0;
  // Load screen-centered
  .load-brand {
    position: absolute;
    top: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    img, svg {
      display: block;
      margin-top: -18vh;
      width: 38vw;
      height: auto;
      animation: zoomIn 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
    }
    p {
      text-align: center;
      line-height: 1.2;
      font-size: 1.4rem;
      color: white;
      margin-top: 1rem;
      width: 62vw;
    }
  }
  .load-bar {
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: $loader-disc-size $screen-gutter;
    div {
      width: $loader-disc-size;
      height: $loader-disc-size;
      border-radius: 100%;
      background-color: $clr-red;
      animation: fade-out 1.7s infinite ease-in-out;
      &.disc1 { opacity: 1; animation-delay: -1s; }
      &.disc2 { opacity: 0.2; animation-delay: -0.8s; }
      &.disc3 { opacity: 0.4; animation-delay: -0.6s; }
      &.disc4 { opacity: 0.6; animation-delay: -0.4s; }
      &.disc5 { opacity: 0.8; animation-delay: -0.2s; }
    }
  }
}

app-nav.nav-default {
  .nav-bar { transform: translateY(-64px);}
}
.nav-bar-container {
  position: fixed;
  z-index: 10;
  top: 100vh; left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  .nav-bar {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    padding: 0.5vh 5vw;
    background-color: rgba($clr-dark-blue-green, 1);
    transform: translateY(0);
    transition: all 400ms ease-out;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 12px 8px;
      img {
        width: 32px;
        height: auto;
      }
    }
  }
  .nav-bar-more {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100vw;
    max-height: 500px;
    height: auto;
    background-color: $clr-dark-blue-green;
    transform: translateY(0);
    transition: all 250ms ease-out;
    &.open { transform: translateY(calc(-100% + -64px)); }
    a {
      display: block;
      height: 64px;
      line-height: 64px;
      padding: 0 $screen-gutter;
      border-bottom: 1px solid $clr-blue-green;
    }
  }
}

.fingerprint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  svg g {
    stroke: $clr-red;
    transition: stroke 300ms linear;
  }
  p {
    margin-top: 1rem;
    text-align: center;
  }
  &.success { svg g { stroke: $clr-green; } }
}

// Private vaults
// -------------------------

.vault-list {}
.vault-list-item {
  margin-top: 2rem;
  width: 100%;
  height: 8.8rem;
  background-color: transparent;
  perspective: 1000px;
  .vault-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 500ms;
    transform-style: preserve-3d;
    background-color: transparent;
  }
  &:hover, &:focus {
    .vault-inner{ transform: rotateX(180deg); }
  }
  .vault-front,
  .vault-back {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: $clr-blue-green;
    padding: 0;
    box-shadow: 0 0 8px 0 rgba(black, 0.5);
    border-radius: 2px;
    border: 2px solid $clr-red;
    transition: all 300ms linear;
  }
  .vault-back {
    transform: rotateX(180deg);

    &.success {
      border-color: $clr-green;
    }
  }

  .vault-panel-left {
    width: 75%;
    height: 100%;
    border-right: 1px solid #000;
    padding: 1rem 1.5rem;
    span, label {
      font-size: 1rem;
      color: $clr-green;
      margin-left: 2px;
    }
    h2 {
      font-weight: $font-weight-std;
    }
  }
  .vault-panel-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-left: 1px solid rgba(white, 0.1);
    img {
      width: auto;
      height: 24px;
    }
  }
}
.frm-vault {
  //padding: 1rem;
  width: 100%;
  input {
    width: 100%;
    border: 0;
    border-radius: 4px;
    background-color: #0b2231;
    padding: 1rem;
    color: $clr-green;
  }
  input[type="submit"] {
    display: inline-block;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
  }
  button[type="submit"] {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    img {
      width: 30px;
    }
  }
}
span.space-fill { flex: 1 auto; }
.screen-vault-inner {
  display: flex;
  flex-direction: column;
  background-color: $clr-dark-blue;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0; right: 0; bottom: 0; left: 0;
  padding: 16px;
  transform: scale(1);
}
.vault-info {
  background-color: $clr-dark-blue;
  position: relative;
  height: 100%;
  border-radius: 4px 4px 0 0;
  border: 2px solid $clr-blue-green;
  margin-bottom: 0;
  padding: 16px;
  color: $clr-red;
  .vault-title {
    display: flex;
    border-bottom: 2px solid $clr-blue-green;
    padding-bottom: 8px;
    margin: 16px 0 8px;
    color: inherit;
  }
  span { font-size: 1.1rem; }
  img {
    height: 2.4rem;
    margin-right: 4px;
  }
  h1 {
    font-weight: $font-weight-bold;
    font-size: 2.4rem;
    line-height: 1;
    margin: 0;
  }
  p {
    font-size: 1.4rem;
    color: white;
  }
  &.available { color: $clr-green; }
}
.vault-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $clr-blue-green;
  .vault-option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px;
    height: 64px;
    width: 100%;
    border-bottom: 2px solid $clr-dark-blue;
    border-radius: 2px;
    color: $clr-dark-blue;
    .icon { width: 24px; }
    .graphic {
      height: 20px;
      opacity: 0.15;
    }
    h2 {
      padding: 0;
      margin: 0 0 0 8px;
      font-size: 1.4rem;
    }
    &.active {
      h2 { color: $clr-green;}
    }
  }

}


