<div
  class="screen screen-vault hide"
  [class.show]="!isLoading">
  <div
    [class.vault-active]="vaultActive"
    class="vault-inner">
    <div class="vault-info-panel">
      <div class="vault-info-panel-content">
        <div class="ref">VAULT: {{ vault?.vault_name }}</div>
        <div class="vault-title">
          <img *ngIf="!vaultActive" src="assets/images/ic64-lock-closed@2x.png">
          <img *ngIf="vaultActive" src="assets/images/ic64-lock-open@2x.png">
          <h1>{{ clientVault?.client_vault_tag }}</h1>
        </div>
      </div>
    </div>

    <!-- Loadbay -->
    <div class="vault-assets" *ngIf="!vaultActive">
      <p>This vault is currently closed.</p>
      <p>You can upload digital assets to the B4E LoadBay, they will be encrypted and then transferred to your vault when it next opens.</p>
    </div>

    <!-- Assets -->
    <div class="vault-assets" *ngIf="vaultActive">
      <ul class="vault-asset-list">
        <li *ngFor="let asset of vaultAssets">
          <img class="icon" src="assets/images/ic24-filetype-{{ getFileType(asset.vault_file_filename) }}.png">
          <div class="item">
            <h2>{{ asset.vault_file_filename }}</h2>
            <span>{{ asset.vault_file_filedate }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-nav [class.nav-default]="!isLoading" [contentType]="contentType"></app-nav>
<app-load [class.show]="isLoading" [loadMessage]="loadMessage"></app-load>


