<div
  class="screen screen-vault hide"
  [class.show]="!isLoading">
  <div class="screen-vault-inner">
    <!-- Info panel -->
    <div
      class="vault-info"
      [class.available]="vaultActive">
      <span>VAULT: {{ vault?.vault_name }}</span>
      <div class="vault-title">
        <img *ngIf="!vaultActive" src="assets/images/ic24-closed@2x.png">
        <img *ngIf="vaultActive" src="assets/images/ic24-open@2x.png">
        <h1>{{ clientVault?.client_vault_tag }}</h1></div>
        <div *ngIf="vaultActive">
          <p>{{ vaultStatusMsgActive }}</p>
          <p>{{ vaultInfoMsgActive  }}</p>
        </div>
        <div *ngIf="!vaultActive">
          <p>{{ vaultStatusMsgClosed }}</p>
          <p>{{ vaultInfoMsgClosed  }}</p>
        </div>
    </div>
    <!-- Options -->
    <div class="vault-options">

      <a class="vault-option" [class.active]="vaultActive">
        <img class="icon" *ngIf="vaultActive" src="assets/images/ic24-view-active@2x.png">
        <img class="icon" *ngIf="!vaultActive" src="assets/images/ic24-view@2x.png">
        <h2>SHOW VAULT CONTENTS</h2>
        <span class="space-fill"></span>
        <img class="graphic" src="assets/images/icon-dots.svg">
      </a>
      <a class="vault-option" [class.active]="vaultActive">
        <img class="icon" *ngIf="vaultActive" src="assets/images/ic24-save-asset-active@2x.png">
        <img class="icon" *ngIf="!vaultActive" src="assets/images/ic24-save-asset@2x.png">
        <h2>SAVE AN ASSET</h2>
        <span class="space-fill"></span>
        <img class="graphic" src="assets/images/icon-dots.svg">
      </a>
      <a class="vault-option" [class.active]="vaultActive">
        <img class="icon" *ngIf="vaultActive" src="assets/images/ic24-retrieve-asset-active@2x.png">
        <img class="icon" *ngIf="!vaultActive" src="assets/images/ic24-retrieve-asset@2x.png">
        <h2>RETRIEVE AN ASSET</h2>
        <span class="space-fill"></span>
        <img class="graphic" src="assets/images/icon-dots.svg">
      </a>
      <a class="vault-option" [class.active]="vaultActive">
        <img class="icon" *ngIf="vaultActive" src="assets/images/ic24-manage-active@2x.png">
        <img class="icon" *ngIf="!vaultActive" src="assets/images/ic24-manage@2x.png">
        <h2>MANAGE THIS VAULT</h2>
        <span class="space-fill"></span>
        <img class="graphic" src="assets/images/icon-dots.svg">
      </a>
      <a class="vault-option" [class.active]="!vaultActive">
        <img class="icon" *ngIf="!vaultActive" src="assets/images/ic24-time-active@2x.png">
        <img class="icon" *ngIf="vaultActive" src="assets/images/ic24-time@2x.png">
        <h2>SAVE TO LOADBAY</h2>
        <span class="space-fill"></span>
        <img class="graphic" src="assets/images/icon-dots.svg">
      </a>
      <a class="vault-option" [class.active]="!vaultActive">
        <img class="icon" *ngIf="!vaultActive" src="assets/images/ic24-manage-app-active@2x.png">
        <img class="icon" *ngIf="vaultActive" src="assets/images/ic24-manage-app@2x.png">
        <h2>MANAGE LOADBAY</h2>
        <span class="space-fill"></span>
        <img class="graphic" src="assets/images/icon-dots.svg">
      </a>
      <a class="vault-option active" (click)="closeVault()">
        <img class="icon" src="assets/images/ic24-close@2x.png">
        <h2>CLOSE THIS VAULT</h2>
        <span class="space-fill"></span>
        <img class="graphic" src="assets/images/icon-dots.svg">
      </a>
    </div>
  </div>
</div>
<app-load [class.show]="isLoading" [loadMessage]="loadMessage"></app-load>


