<div
  class="screen screen-vault-content hide"
  [class.show]="!isLoading">
  <div class="screen-inner">
    <div
      class="vault-contents">
      <span>VAULT: {{ vault?.vault_name }} – {{ vault?.vault_installed_date }}</span>
      <div class="vault-title">
        <img src="assets/images/ic24-open@2x.png">
        <h1>{{ clientVault?.client_vault_tag }}</h1>
      </div>
      <ul>
        <li *ngFor="let asset of vaultAssets" (click)="getAssetInfo(asset)">
          <img class="icon" src="assets/images/ic24-filetype-{{ getFileType(asset.vault_file_filename) }}.png">
          <div class="item">
            <h2>{{ asset.vault_file_filename }}</h2>
            <span>{{ asset.vault_file_filedate }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-load [class.show]="isLoading" [loadMessage]="loadMessage"></app-load>
