<div class="nav-bar-container" [ngSwitch]="contentType">

  <div class="nav-bar" *ngSwitchCase="'vault'">
    <a (click)="exitVault()">
      <img src="assets/images/ic64-lock-closed@2x.png">
    </a>
    <a (click)="addToVault()">
      <img src="assets/images/ic64-add@2x.png">
    </a>
    <a (click)="manageVault()">
      <img src="assets/images/ic64-settings@2x.png">
    </a>
  </div>

  <div class="nav-bar" *ngSwitchCase="'loadbay'">

      <a (click)="exitLoadBay()">
        <img src="assets/images/ic64-lock-closed@2x.png">
      </a>
      <a (click)="addToLoadBay()">
        <img src="assets/images/ic64-add@2x.png">
      </a>
      <a (click)="clearLoadBay()">
        <img src="assets/images/ic64-close@2x.png">
      </a>

  </div>

  <div class="nav-bar" *ngSwitchDefault>
    <a (click)="nav('settings')">
      <img src="assets/images/icon-settings.svg" alt="Vault Settings">
    </a>
    <a (click)="nav('vaults')">
      <img src="assets/images/icon-vaults.svg" alt="Vault Settings">
    </a>
    <a (click)="nav('user')">
      <img src="assets/images/icon-add.svg" alt="Create new vault">
    </a>
    <a (click)="nav('user')">
      <img src="assets/images/icon-user.svg" alt="User Profile">
    </a>
    <a (click)="navMore()">
      <img src="assets/images/icon-more.svg" alt="More navigation options">
    </a>
  </div>

  <div class="nav-bar-more" [class.open]="navOpen">
    <a (click)="nav('logout')">LOGOUT</a>
    <a (click)="nav('contact')">CONTACT B4E</a>
    <a (click)="nav('help')">HELP</a>
    <a (click)="nav('bug')">REPORT A BUG</a>
  </div>

</div>

