<div class="nav-container">

  <div class="nav-bar">
    <a (click)="nav('settings')">
      <img src="assets/images/icon-settings.svg" alt="Vault Settings">
    </a>
    <a (click)="nav('vaults')">
      <img src="assets/images/icon-vaults.svg" alt="Vault Settings">
    </a>
    <a (click)="nav('user')">
      <img src="assets/images/icon-add.svg" alt="Create new vault">
    </a>
    <a (click)="nav('user')">
      <img src="assets/images/icon-user.svg" alt="User Profile">
    </a>
    <a (click)="navMore()">
      <img src="assets/images/icon-more.svg" alt="More navigation options">
    </a>
  </div>

  <div class="nav-more" [class.open]="navOpen">
    <a (click)="nav('logout')">LOGOUT</a>
    <a (click)="nav('contact')">CONTACT B4E</a>
    <a (click)="nav('help')">HELP</a>
    <a (click)="nav('bug')">REPORT A BUG</a>
  </div>

</div>

