$clr-green: #CCF437;
$loader-disc-size: 36px;
.loader {
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  bottom:0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 3rem 2rem;
  div {
    width: $loader-disc-size;
    height: $loader-disc-size;
    border-radius: 100%;
    background-color: $clr-green;
    animation: fadeaway 2s infinite ease-in-out both ;
    &.disc1 { animation-delay: -1s; }
    &.disc2 { animation-delay: -0.8s; }
    &.disc3 { animation-delay: -0.6s; }
    &.disc4 { animation-delay: -0.4s; }
    &.disc5 { animation-delay: -0.2s; }
  }
}
@keyframes fadeaway {
  0% { opacity: 1; }
  100% { opacity: .2; }
}
