@import "~@angular/material/theming";
// Base styles
@include mat-core();

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$b4e-typography: mat-typography-config(
    $font-family: 'Roboto, monospace',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(18px, 24px, 300)
);

// Custom Palettes
$b4e-theme-primary: mat-palette($mat-yellow, A400);
$b4e-theme-accent:  mat-palette($mat-amber);
$b4e-theme-warn:    mat-palette($mat-red);

// Create them object
$b4e-theme: mat-dark-theme($b4e-theme-primary, $b4e-theme-accent, $b4e-theme-warn);

@include    angular-material-typography($b4e-typography);
@include    angular-material-theme($b4e-theme);
