//$mdc-layout-grid-default-gutter: ( desktop: 16px, tablet: 16px, phone: 8px);
//$mdc-layout-grid-default-margin: ( desktop: 16px, tablet: 16px, phone: 8px);
//@import "@material/layout-grid/mdc-layout-grid";

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
